@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("../css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("../css/animate.css");

:root {
  font-family: "Poppins", sans-serif !important;
  --font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  line-height: 32px;
}

p.big {
  font-size: 20px;
  line-height: 32px;
}

p.small {
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #425e70;
}

h1 {
  font-size: 54px;
  line-height: 62px;
  font-weight: 700;
}

h2 {
  font-size: 42px;
  line-height: 56px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
}

label {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  color: #000;
  font-size: 16px;
  line-height: 32px;

  &:hover {
    color: #000;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

.no-pointer-event {
  pointer-events: none;
}

// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// input[type="number"] {
//   -moz-appearance: textfield;
// }

/*   normalize  */

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 120px) {
  .container {
    max-width: 1200px;
  }
}

.btn.btn-primary {
  height: 50px;
  color: rgb(66, 94, 112) !important;
  background-color: #fff !important;
  border-color: #425e70 !important;
  border-radius: 4px !important;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  padding: 12px 40px 13px 40px;
  transition: all 0.8s;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(66, 94, 112, 0.3);
    transform: translateY(-3px);
    transition: all 0.8s;
  }

  &:focus {
    box-shadow: 0 3px 15px 0 rgba(66, 94, 112, 0.3);
    transform: translateY(-3px);
  }
}

.btn.btn-secondary {
  height: 50px;
  color: #2e3d36 !important;
  background-color: #a7d288 !important;
  border-color: rgba(66, 94, 112, 0.18) !important;
  border-radius: 4px !important;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 15px 17px 15px;
  transition: all 0.8s;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(66, 94, 112, 0.3);
    transform: translateY(-3px);
    transition: all 0.8s;
  }

  &:focus {
    box-shadow: 0 3px 15px 0 rgba(66, 94, 112, 0.3);
    transform: translateY(-3px);
  }
}

.btn-pad-60 {
  padding: 12px 60px !important;
}

.btn-pad-45 {
  padding: 12px 45px !important;
}

.btn-full {
  width: 100%;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-color: #425e70;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.icon-catering {
  -webkit-mask: url(../images/icons/catring.svg) no-repeat 50% 50%;
  mask: url(../images/icons/catring.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.icon-laundary {
  -webkit-mask: url(../images/icons/laundary.svg) no-repeat 50% 50%;
  mask: url(../images/icons/laundary.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.icon-news {
  -webkit-mask: url(../images/icons/news.svg) no-repeat 50% 50%;
  mask: url(../images/icons/news.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.icon-toilet {
  -webkit-mask: url(../images/icons/toilet.svg) no-repeat 50% 50%;
  mask: url(../images/icons/toilet.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.icon-taxi {
  -webkit-mask: url(../images/icons/taxi.svg) no-repeat 50% 50%;
  mask: url(../images/icons/taxi.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.icon-dollar {
  -webkit-mask: url(../images/icons/dollar.svg) no-repeat 50% 50%;
  mask: url(../images/icons/dollar.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.icon-phone {
  -webkit-mask: url(../images/icons/phone.svg) no-repeat 50% 50%;
  mask: url(../images/icons/phone.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.icon-visitor {
  -webkit-mask: url(../images/icons/visitor.svg) no-repeat 50% 50%;
  mask: url(../images/icons/visitor.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.icon-libary {
  -webkit-mask: url(../images/icons/libary.svg) no-repeat 50% 50%;
  mask: url(../images/icons/libary.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.icon-electric {
  -webkit-mask: url(../images/icons/electric.svg) no-repeat 50% 50%;
  mask: url(../images/icons/electric.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.custom-checkbox {
  padding-left: 30px;

  .custom-control-label {
    font-weight: 400;
    color: #333;
    font-size: 16px;
    line-height: 17px;

    &::before {
      top: 7px;
      width: 20px;
      height: 20px;
      left: -30px;
    }

    &::after {
      top: 7px;
      width: 20px;
      height: 20px;
      left: -30px;
    }

    a {
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      color: #000;
    }
  }
}

.custom-control-input {
  &:checked {
    & ~ .custom-control-label {
      &::before {
        background-color: #000;
        border-color: #000;
      }
    }
  }
}

/* ############################ header section ############################### */

.fixed-top {
  background-color: #425e70 !important;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header {
  height: 90px;
  position: relative;

  .fixed-top.navbar {
    .navbar-brand {
      position: unset;
      width: 130px;
      transition: all 0.3s ease-in-out;
    }
  }

  .page-title {
    display: none;
  }

  .col-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .col-30 {
      flex: 0 0 20%;
      max-width: 20%;
    }

    .col-70 {
      flex: 0 0 80%;
      max-width: 80%;
    }
  }

  .row-100 {
    width: 100%;
    margin: 0;

    .col-12 {
      padding: 0;
    }
  }

  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    display: flex;
    height: 90px;
    background-color: transparent;
    white-space: nowrap;
    z-index: 999;
    // box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
    // border-bottom: 1px solid rgba(236, 236, 236, 0.6);

    .navbar-brand {
      width: 180px;
      height: auto;
      position: absolute;
      top: -30px;
      left: 0;

      img {
        width: 100%;
      }
    }

    .collapse1 {
      height: 100%;

      .navbar-nav {
        align-items: center;

        .nav-item {
          a {
            color: #fff;
            font-size: 18px;
            line-height: 27px;
            padding: 8px 18px;
            font-weight: 400;
            letter-spacing: -0.4px;
            transition: all 0.2s ease-in-out;
            position: relative;

            &::after {
              content: "";
              height: 2px;
              background-color: #fff;
              position: absolute;
              bottom: 0;
              left: 20px;
              width: 0;
              transition: all 0.5s ease-in-out;
              opacity: 0;
            }

            &:hover {
              transition: all 0.2s ease-in-out;
              color: #fff;
              font-weight: 400;

              &::after {
                width: 22px;
                transition: all 0.5s ease-in-out;
                opacity: 1;
              }
            }
          }

          a.active {
            transition: all 0.4s ease-in-out;
            color: #fff;

            &::after {
              width: 22px;
              opacity: 1;
            }
          }
        }

        .nav-btn {
          padding-left: 20px !important;

          a.btn {
            font-size: 16px;
            min-height: 30px;
            line-height: 32px;
            border-radius: 4px;
            background-color: transparent !important;
            padding: 8px 40px !important;
            color: rgba(15, 45, 31, 1) !important;
            border-color: rgba(15, 45, 31, 0.7) !important;
          }
        }
      }
    }
  }
}

.nav-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-account {
  padding-left: 10px;

  ul {
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 22px;
        padding: 8px 20px 0px 20px;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

/* menu responsive */

.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */

.form-group {
  margin-bottom: 20px;

  label {
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .form-control {
    border: 1px solid #dadada;
    height: 48px;
    background-color: #fff;
    font-size: 16px;
    box-shadow: none;
    outline: 0;
    padding: 14px 16px;
    border-radius: 12px;

    &:focus {
      border-color: #000;
      color: #000;
    }
  }
}

.input-group {
  .input-group-addon {
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 99;

    a {
      text-decoration: none;
      color: #727272;
    }

    i {
      font-size: 20px;
    }
  }

  .form-control {
    padding-right: 40px;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #000 !important;
  color: #fff;
}

.select2 {
  width: 100% !important;
}

.select2-container {
  border: 0;
}

.select2-container--default .select2-selection--single {
  outline: 0;
  height: 48px !important;
  border: 1px solid #dadada !important;
  border-radius: 12px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  border: 0 solid #dadada;
  height: 46px;
  background-color: #fff;
  border-radius: 12px;
  font-size: 16px;
  line-height: 48px !important;
  font-weight: 500;
  padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 48px !important;
  width: 30px !important;

  b {
    border-color: #333 transparent transparent transparent !important;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #333 transparent !important;
  border-width: 0 4px 5px 4px;
}

/*  middle section start here */

.inner-page {
  padding-top: 0;
}

@mixin heading {
  h3 {
    font-size: 34px;
    line-height: 51px;
    color: #425e70;
    text-align: center;
    margin-bottom: 0;
  }

  p {
    color: rgba(66, 94, 112, 0.4);
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
  }

  padding-bottom: 20px;
  position: relative;
  margin-bottom: 60px;

  &::after {
    content: "";
    background-color: #4da3f9;
    height: 3px;
    width: 60px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    h3 {
      font-size: 24px;
      line-height: 36px;
    }

    p {
      font-size: 14px;
      line-height: 21px;
      font-weight: 500;
    }
  }
}

.middle-section {
  height: auto;

  .no-gutter {
    padding: 0 !important;

    .row {
      .no-pad {
        padding: 0 !important;
      }
    }
  }

  // banner-section

  .home-banner-section {
    .banner-div {
      position: relative;

      .banner-image {
        position: relative;
        width: 100%;

        &::after {
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 2;
          position: absolute;
          left: 0;
          top: 0;
        }

        img {
          height: 100%;
          min-height: 100vh;
          width: 100%;
          max-height: 100vh;
          object-fit: cover;
        }
      }

      .banner-caption {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        z-index: 99;
        padding: 100px 0;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        .content {
          padding-left: 70px;
          position: relative;

          &::after {
            content: "";
            display: block;
            height: calc(100% - 15px);
            width: 2px;
            background-color: #fff;
            z-index: 2;
            position: absolute;
            left: 0;
            top: 20px;
          }

          h2 {
            font-size: 50px;
            line-height: 70px;
            font-weight: 800;
            color: #fff;
          }

          p {
            font-size: 18px;
            color: #fff;
            line-height: 27px;
            margin-bottom: 0;
          }
        }
      }
    }

    .owl-theme {
      .owl-nav {
        position: absolute;
        top: calc(50% - 50px);
        right: 15px;
        flex-direction: column;
        display: flex;

        button {
          height: 47px;
          width: 47px;
          border: 1px solid rgba(255, 255, 255, 0.4);
          background-color: transparent;
          border-radius: 100%;
          box-shadow: none;
          outline: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          transition: all 0.3s;

          i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
          }

          &:hover {
            transition: all 0.3s;
            border: 1px solid rgba(255, 255, 255, 1);
          }
        }
      }
    }

    .information-box {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 260px;
      background-color: #fff;
      width: 100%;
      z-index: 12;

      .information-content {
        padding: 40px 40px;

        p {
          color: rgba(66, 94, 112, 0.4);
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 10px;
        }

        a {
          font-size: 18px;
          line-height: 24px;
          text-decoration: underline;
          margin-bottom: 0;
          color: rgba(66, 94, 112, 1);
        }
      }
    }
  }

  .service-care-section {
    padding: 120px 0;
    background-color: #fafafa;
    overflow: hidden;
    position: relative;

    .service-care-inner {
      position: relative;
      z-index: 99;
    }

    &::before {
      content: "";
      background-image: url(../images/patten-service.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      left: -15%;
      top: 0%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.5;
    }

    &::after {
      content: "";
      background-image: url(../images/patten-service.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      right: -15%;
      top: -3%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.5;
    }

    .heading {
      @include heading();
    }

    .service-row {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 -7px;

      .service-item {
        padding: 0 7px;
        margin-bottom: 10px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        max-width: 235px;
        min-width: 235px;
      }

      .service-box {
        padding: 30px 30px;
        width: 100%;
        background-color: #fff;
        border-radius: 6px;
        overflow: hidden;
        transition: all 0.2s;
        height: 100%;

        .service-icon {
          margin-bottom: 18px;

          img {
            width: 24px;
            height: 24px;
          }
        }

        .service-content {
          h3 {
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            color: #425e70;
            white-space: nowrap;
            letter-spacing: -0.4px;
          }

          p {
            color: rgba(66, 94, 112, 0.51);
            font-size: 12px;
            line-height: 18px;
          }
        }

        &:hover {
          background-image: url(../images/server-bg.svg);
          background-position: top center;
          background-size: cover;
          background-color: #425e70;
          transition: all 0.2s;

          .service-icon {
            .svg-icon {
              background-color: #fff;
            }
          }

          .service-content {
            h3 {
              font-size: 18px;
              font-weight: 600;
              line-height: 27px;
              color: #fff;
            }

            p {
              color: rgba(255, 255, 255, 0.51);
              font-size: 12px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }

  .latest-news-section {
    background-color: #fff;
    padding: 120px 0;

    .heading {
      @include heading();
    }

    .latest-news-inner {
      position: relative;
      z-index: 10;
    }

    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      background-image: url(../images/patten-service.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      right: -10%;
      bottom: -35%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.5;
    }

    .blog-card {
      .blog-header {
        .blog-img {
          border-radius: 6px;
          overflow: hidden;
          width: 100%;
          height: 100%;
          display: block;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: transform 1s;
            overflow: hidden;
            min-height: 213px;
            max-height: 213px;
          }

          &:hover {
            img {
              transform: scale(1.2);
            }
          }
        }
      }

      .blog-body {
        padding: 20px 0;

        .content {
          a {
            h3 {
              font-size: 18px;
              line-height: 27px;
              letter-spacing: -0.4px;
              margin-bottom: 0;
              font-weight: 500;
              color: #263640;
            }

            &:hover {
              h3 {
                color: #000;
              }
            }
          }

          p {
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
            color: rgba(66, 94, 112, 0.4);
          }
        }
      }
    }

    .owl-theme {
      .owl-nav {
        position: absolute;
        top: calc(50% - 50px);
        right: 0;
        left: 0;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .owl-prev {
          left: -60px;
          position: absolute;
        }

        .owl-next {
          right: -60px;
          position: absolute;
        }

        button {
          height: 47px;
          width: 47px;
          border: 1px solid rgba(13, 13, 13, 0.1);
          background-color: transparent;
          border-radius: 100%;
          box-shadow: none;
          outline: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          transition: all 0.3s;

          i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
          }

          &:hover {
            background-color: rgba(66, 94, 112, 05);
            transition: all 0.3s;
            border: 1px solid rgba(13, 13, 13, 0.5);
            color: #fff;
          }
        }
      }
    }
  }

  .virtual-tour-section {
    background-color: #fafafa;
    padding: 120px 0;

    .virtual-tour-inner {
      position: relative;
      z-index: 10;
    }

    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      background-image: url(../images/patten-service.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      right: -10%;
      top: -28%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    .heading {
      @include heading();
    }

    .tour-gallery {
      .row-2 {
        margin: 0 2px;

        .pad-2 {
          padding: 0 2px;
        }
      }

      .tour-box {
        margin-bottom: 3px;

        .tourbox-inner {
          position: relative;

          .tour-img {
            border-radius: 3px;
            overflow: hidden;

            img {
              height: 100%;
              max-height: 316px;
              min-height: 316px;
              width: 100%;
              object-fit: cover;
              overflow: hidden;
            }
          }

          .tour-caption {
            border-radius: 3px;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            height: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(66, 94, 112, 0.7%);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: all 0.3s;

            .content {
              transition: all 0.3s;
              padding-top: 40px;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              color: #fff;
              position: relative;
              z-index: 1;

              h3 {
                font-size: 22px;
                line-height: 35px;
                color: #fff;
                margin-bottom: 0;
              }

              p {
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.4px;
                color: rgba(255, 255, 255, 0.4);
              }
            }
          }

          &:hover {
            .tour-caption {
              opacity: 1;
              transition: all 0.3s;

              .content {
                padding-top: 0;
                transition: all 0.3s;
              }
            }
          }
        }
      }
    }
  }

  .inspection-section {
    background-color: #fff;
    padding: 120px 0;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      right: -20%;
      bottom: -13%;
      height: 555px;
      width: 540px;
      z-index: 1;
      opacity: 0.5;
    }

    .heading {
      @include heading();
    }

    .inspection-div {
      .tab-header {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .nav-tabs {
          text-align: center;
          border: 0;
          margin-bottom: 20px;

          li {
            margin: 0 5px;

            a {
              display: block;
              padding: 10px 71px;
              font-size: 22px;
              line-height: 33px;
              letter-spacing: -0.4px;
              font-weight: 500;
              color: #425e70;
              border: 1px solid #425e70;
              border-radius: 3px;
              transition: all 0.3s;

              &:hover {
                color: #fff;
                background: #425e70;
                transition: all 0.3s;
              }

              &.active {
                color: #fff;
                background: #425e70;
                transition: all 0.3s;
              }
            }
          }
        }
      }

      .tab-body {
        min-height: 400px;
        padding: 20px 20px;

        .tab-detail {
          ul {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;

            li {
              font-size: 22px;
              line-height: 33px;
              letter-spacing: -0.4px;
              color: #425e70;
              font-weight: 500;
              position: relative;
              padding: 20px 20px 20px 60px;
              border-bottom: 1px solid rgba(66, 94, 112, 0.2);

              &::before {
                content: "";
                background-image: url(../images/check.png);
                background-repeat: no-repeat;
                background-size: contain;
                height: 22px;
                width: 30px;
                display: inline-block;
                margin: 0 10px 0 0;
                position: absolute;
                left: 5px;
                top: 22px;
              }
            }
          }
        }
      }
    }

    .quality {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 60px 0 10px 0;

      img {
        max-width: 160px;
        width: 100%;
      }
    }
  }

  .join-ourteam-section {
    background-color: #425e70;
    padding: 60px 0;
    background-image: url(../images/bg-join.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    .content {
      h2 {
        font-size: 34px;
        line-height: 80px;
        letter-spacing: -0.4px;
        color: #fff;
        margin-bottom: 10px;
      }
    }
  }

  .testimonials-section {
    padding: 120px 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;

    .heading {
      @include heading();
    }

    .testimonials-inner {
      position: relative;
      z-index: 10;
    }
   
    &::after {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      right: -25%;
      bottom: -30%;
      height: 555px;
      width: 540px;
      z-index: 1;
      opacity: 0.5;
    }

    &::before {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      left: -20%;
      bottom: -10%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    .testimonial-slide {
      .testimonial-img {
        img {
          width: 100%;
        }
      }

      .testimonial-content {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;

        .content {
          margin-bottom: 40px;

          p {
            font-size: 22px;
            line-height: 34px;
            color: rgba(66, 94, 112, 0.8);
          }
        }

        .author {
          h4 {
            color: rgba(66, 94, 112, 0.8);
            font-size: 22px;
            line-height: 33px;
            margin-bottom: 5px;
            font-weight: 600;
          }

          p {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: -0.04px;
            font-weight: 600;
            color: rgba(66, 94, 112, 0.34);
            margin-bottom: 0;
          }
        }
      }
    }

    .owl-theme {
      .owl-nav {
        position: absolute;
        bottom: 15px;
        right: 20px;
        flex-direction: row;
        display: flex;

        button {
          height: 47px;
          width: 47px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          background-color: transparent;
          border-radius: 100%;
          box-shadow: none;
          outline: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          transition: all 0.3s;

          i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
          }

          &:hover {
            border: 1px solid rgba(255, 255, 255, 0.5);
            background-color: #425e70;
            color: #fff;
            transition: all 0.3s;
          }
        }
      }
    }
  }

  // inner

  .inner-banner-section {
    .banner-div {
      position: relative;

      .banner-image {
        position: relative;
        width: 100%;

        &::after {
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          z-index: 2;
          position: absolute;
          left: 0;
          top: 0;
        }

        img {
          height: 100%;
          min-height: 580px;
          width: 100%;
          max-height: 580px;
          object-fit: cover;
        }
      }

      .banner-caption {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        z-index: 99;
        padding: 100px 0;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        .content {
          position: relative;

          &::after {
            content: "";
            display: block;
            height: 2px;
            width: 60px;
            background-color: #fff;
            z-index: 2;
            position: absolute;
            left: 0;
            bottom: 0;
          }

          h2 {
            font-size: 70px;
            line-height: 94px;
            font-weight: 800;
            color: #fff;
          }
        }
      }
    }

    .owl-theme {
      .owl-nav {
        position: absolute;
        top: calc(50% - 50px);
        right: 15px;
        flex-direction: column;
        display: flex;

        button {
          height: 47px;
          width: 47px;
          border: 1px solid rgba(255, 255, 255, 0.4);
          background-color: transparent;
          border-radius: 100%;
          box-shadow: none;
          outline: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          transition: all 0.3s;

          i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
          }

          &:hover {
            transition: all 0.3s;
            border: 1px solid rgba(255, 255, 255, 1);
          }
        }
      }
    }

    .information-box {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 260px;
      background-color: #fff;
      width: 100%;
      z-index: 12;

      .information-content {
        padding: 40px 40px;

        p {
          color: rgba(66, 94, 112, 0.4);
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 10px;
        }

        a {
          font-size: 18px;
          line-height: 24px;
          text-decoration: underline;
          margin-bottom: 0;
          color: rgba(66, 94, 112, 1);
        }
      }
    }
  }

  .ourcare-description-section {
    padding: 120px 0;
    background-color: #fafafa;

    .ourcare-description {
      position: relative;
      z-index: 5;
    }

    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      left: -10%;
      top: -30%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    .content {
      h3 {
        font-size: 34px;
        line-height: 58px;
        color: #425e70;
      }
    }
  }

  .page-block-section {
    padding: 100px 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      left: -10%;
      bottom: -20%;
      width: 540px;
      height: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    .block-media {
      img {
        position: relative;
        z-index: 99;
      }
    }

    .block-contnet {
      position: relative;

      .heading {
        @include heading();

        margin-bottom: 30px;

        h3 {
          text-align: left;
        }

        &::after {
          left: 0;
          right: auto;
          bottom: 10px;
        }
      }

      .content {
        padding: 60px 0 40px 0;

        p {
          font-size: 22px;
          line-height: 33px;
          color: rgba(66, 94, 112, 0.6);
          letter-spacing: -0.04px;
          font-weight: 500;
          z-index: 2;
          position: relative;
        }

        position: relative;

        &::after {
          content: "";
          background-color: #f9f9f9;
          width: 160%;
          height: 100%;
          position: absolute;
          left: -30%;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 0;
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
        }
      }
    }

    .row-mb-120 {
      margin-bottom: 120px;
    }
  }

  .fees-section {
    padding: 120px 0;
    background-color: #fafafa;

    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      left: -10%;
      top: -30%;
      width: 540px;
      height: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    .heading {
      @include heading();
    }

    .content {
      p {
        font-size: 24px;
        line-height: 42px;
        color: #425e70;
        font-weight: 500;
      }
    }
  }

  .pattern-left-none {
    &::after {
      display: none !important;
    }
  }


  .pattern-right-none {
    &::before {
      display: none;
    }
  }
  
  .description-section {
    padding: 120px 0;
    background-color: #fafafa;

    .description {
      position: relative;
      z-index: 5;
    }

    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      left: -10%;
      top: -30%;
      width: 540px;
      height: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    &::before {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      right: -20%;
      bottom: -10%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    .content {
      h3 {
        font-size: 34px;
        line-height: 58px;
        color: #425e70;
        margin-bottom: 30px;
      }

      p {
        font-size: 22px;
        line-height: 33px;
        letter-spacing: -0.2px;
        color: #425e70;
      }
    }
  }

  .staff-section {
    padding: 120px 0;

    .heading {
      @include heading();
    }

    .staff-box {
      margin-bottom: 20px;

      .staff-img {
        position: relative;
        border-radius: 6px;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: rgba(38, 54, 64, 0.2);
          display: block;
          width: 100%;
          height: 100%;
        }

        img {
          width: 100%;
          min-height: 400px;
          max-height: 400px;
          object-fit: cover;
          height: 100%;
          border-radius: 6px;
          overflow: hidden;
        }
      }

      .staff-body {
        padding: 20px 0;

        h3 {
          font-size: 24px;
          line-height: 35px;
          font-weight: 500;
          letter-spacing: -0.2px;
          color: #263640;
          margin-bottom: 6px;
        }

        p {
          color: #425e70;
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 0;
        }
      }
    }

    .row-8 {
      margin: 0 -8px;

      .pad-8 {
        padding: 0 8px;
      }
    }
  }

  .tour-section {
    padding: 120px 0;

    .heading {
      @include heading();
    }

    .tour-box {
      margin-bottom: 20px;

      .full-screen {
        position: absolute;
        top: 10px;
        right: 20px;
        height: 42px;
        width: 42px;
        background-color: rgba(38, 54, 64, 0.6);
        z-index: 3;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;

        .fe {
          color: #fff;
          font-size: 20px;
        }
      }

      .tour-img {
        position: relative;
        border-radius: 6px;
        overflow: hidden;

        img {
          width: 100%;
          min-height: 288px;
          max-height: 288px;
          object-fit: cover;
          height: 100%;
          border-radius: 6px;
          overflow: hidden;
        }
      }

      .tour-body {
        padding: 20px 0;

        h3 {
          font-size: 24px;
          line-height: 35px;
          font-weight: 500;
          letter-spacing: -0.2px;
          color: #263640;
          margin-bottom: 6px;
        }

        p {
          color: #425e70;
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 0;
        }
      }
    }

    .row-8 {
      margin: 0 -8px;

      .pad-8 {
        padding: 0 8px;
      }
    }
  }

  .gallery-section {
    padding: 120px 0;
    background-color: #fff;

    .heading {
      @include heading();
      margin-bottom: 30px;
    }

    .gallery-box {
      margin-bottom: 1px;

      .gallery-img {
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          min-height: 316px;
          max-height: 316px;
          -o-object-fit: cover;
          object-fit: cover;
          height: 100%;
          overflow: hidden;
          transition: transform 1s, -webkit-transform 1s;
        }

        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
    }

    .row-0 {
      margin: 0 1px;

      .pad-0 {
        padding: 0 1px;
      }
    }
  }

  .contactus-section {
    padding: 120px 0;

    .contactus {
      position: relative;
      z-index: 10;
    }

    &::after {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      left: -20%;
      top: -30%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      right: -20%;
      bottom: -30%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    .row-8 {
      margin: 0 -8px;

      .pad-8 {
        padding: 0 8px;
      }
    }

    .form-group {
      margin-bottom: 18px;

      .has-float-label {
        width: 100%;
        margin-bottom: 0;
      }

      label {
        font-size: 18px;
        color: #181818;
        letter-spacing: 0;
        font-weight: 400;
        margin-bottom: 10px;
      }

      .form-control {
        border: 1px solid #ccc;
        height: 80px;
        background-color: #fff;
        border-radius: 3px;
        font-size: 22px;
        line-height: 33px;
        outline: 0;
        color: #263640;
        padding: 18px 15px 6px 15px;
        font-weight: 400;
        transition: all 0.2s;
        box-shadow: none !important;

        &::placeholder {
          color: #ccc;
        }

        &:focus {
          transition: all 0.2s;
          color: #263640;
          // box-shadow: 0 0 0 0.2rem rgba(30, 183, 179, 0.30);
          border: 1px solid #09343b;
        }

        &:hover {
          transition: all 0.2s;
          color: #263640;
          // box-shadow: 0 0 0 0.2rem rgba(30, 183, 179, 0.30);
          border: 1px solid #09343b;
        }
      }

      span.text {
        display: block;
        width: 100%;
        margin: 5px 15px;
        color: #ccc;
      }

      textarea {
        min-height: 240px;
        padding-top: 30px !important;
      }
    }

    .note {
      h3 {
        color: #263640;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: -0.2px;
      }

      p {
        color: rgba(38, 54, 64, 0.45);
        font-size: 22px;
        line-height: 33px;
        letter-spacing: -0.2px;
      }
    }

    .div-btn {
      .btn {
        height: 80px !important;
        padding: 25px 40px;
        background-color: #425e70 !important;
        color: #fff !important;
        border: #425e70 !important;
        width: 100%;
        font-size: 22px;
        line-height: 33px;
        font-weight: 800;
      }
    }

    .custom-checkbox {
      .custom-control-label {
        color: #263640;
        font-size: 22px;
        line-height: 48px;
        font-weight: 600;
        letter-spacing: -0.2px;
        padding-left: 20px;
        margin-bottom: 0;

        &::before {
          height: 32px;
          width: 32px;
          border-radius: 2px;
          border: 1px solid rgba(0, 0, 0, 0.25);
        }

        &::after {
          top: 7px;
          left: -30px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 32px;
          width: 32px;
        }
      }

      .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #425e70 !important;
        border-color: rgb(66, 94, 112) !important;
      }

      .custom-control-input:focus ~ .custom-control-label::before {
        box-shadow: 0 3px 15px 0 rgba(66, 94, 112, 0.4);
      }
    }

    .heading {
      @include heading();
    }
  }

  .covid-section {
    padding: 120px 0;

    .covid-inner {
      position: relative;
      z-index: 10;
    }
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      left: -10%;
      top: -30%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    .block-media {
      img {
        position: relative;
        z-index: 99;
      }
    }

    .block-contnet {
      position: relative;

      .heading {
        @include heading();

        margin-bottom: 30px;

        h3 {
          text-align: left;
        }

        &::after {
          left: 0;
          right: auto;
          bottom: 10px;
          display: none;
        }
      }

      .content {
        padding: 60px 60px 40px 0;

        p {
          font-size: 22px;
          line-height: 33px;
          color: rgba(66, 94, 112, 0.6);
          letter-spacing: -0.04px;
          font-weight: 500;
          z-index: 2;
          position: relative;
        }

        position: relative;

        &::after {
          content: "";
          background-color: #f9f9f9;
          width: 160%;
          height: 100%;
          position: absolute;
          left: -30%;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 0;
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
        }
      }
    }
  }

  .join-team-section {
    padding: 120px 0;
    background-color: #fafafa;

    .join-team-inner {
      position: relative;
      z-index: 10;
    }

    &::after {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      right: -10%;
      top: -30%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    position: relative;
    overflow: hidden;

    .heading {
      h3 {
        font-size: 34px;
        line-height: 58px;
        color: #425e70;
      }
    }
  }

  .send-cv-section {
    padding: 120px 0;

    .send-cv-section {
      position: relative;
      z-index: 99;
    }

    &::after {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      right: -10%;
      top: -30%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    position: relative;
    overflow: hidden;

    .content {
      h3 {
        font-size: 34px;
        line-height: 51px;
        color: rgba(66, 95, 112, 1);
        letter-spacing: -0.2px;
        margin-bottom: 30px;
      }

      ul {
        li {
          font-size: 22px;
          line-height: 33px;
          color: rgba(66, 95, 112, 0.7);
          letter-spacing: -0.2px;
          margin-bottom: 20px;
          list-style: disc;
        }
      }
    }
  }

  .day-life-section {
    padding: 120px 0;

    &::after {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      left: -10%;
      top: -10%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    position: relative;
    overflow: hidden;

    .day-life-inner {
      position: relative;
      z-index: 10;
    }

    .content {
      h3 {
        font-size: 34px;
        line-height: 51px;
        color: rgba(66, 95, 112, 1);
        letter-spacing: -0.2px;
        margin-bottom: 30px;
      }

      ul {
        li {
          font-size: 22px;
          line-height: 33px;
          color: rgba(66, 95, 112, 1);
          letter-spacing: -0.2px;
          margin-bottom: 20px;
          list-style: disc;
        }
      }

      p {
        font-size: 22px;
        line-height: 33px;
        color: rgba(66, 95, 112, 1);
        letter-spacing: -0.2px;
      }

      a {
        color: rgba(66, 95, 112, 1);
        text-decoration: underline;

        &:hover {
          color: #323943;
        }
      }
    }

    .gallery-box {
      margin-bottom: 1px;

      .gallery-img {
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          min-height: 241px;
          max-height: 241px;
          object-fit: cover;
          height: 100%;
          overflow: hidden;
        }
      }
    }

    .row-0 {
      margin: 0 1px;

      .pad-0 {
        padding: 0 1px;
      }
    }
  }

  .blog-detail-section {
    padding: 120px 0 0 0;
    position: relative;

    .blog-detail-box {
      padding: 60px 100px;
      background-color: #fff;
      position: relative;
      top: -200px;
      z-index: 99;
      border-radius: 10px;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.04);

    }

    &::after {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      left: -10%;
      top: -10%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    .content {
      h3 {
        font-size: 34px;
        line-height: 51px;
        color: rgba(66, 95, 112, 1);
        letter-spacing: -0.2px;
        margin-bottom: 30px;
      }

      h5.posted-on {
        color: rgba(38, 54, 64, 0.50);
        margin-bottom: 20px;
      }

      ul {
        li {
          font-size: 22px;
          line-height: 33px;
          color: rgba(66, 95, 112, 1);
          letter-spacing: -0.2px;
          margin-bottom: 20px;
          list-style: disc;
        }
      }

      p {
        font-size: 22px;
        line-height: 33px;
        color: rgba(66, 95, 112, 1);
        letter-spacing: -0.2px;
      }

      a {
        color: rgba(66, 95, 112, 1);
        text-decoration: underline;

        &:hover {
          color: #323943;
        }
      }
    }
  }

  .pagination-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .pagination {
    li {
      a {
        padding: 8px 15px;
        background-color: #fff;
        color: #425e70;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 38px;
        box-shadow: none;

        &:hover {
          background-color: #425e70;
          color: #fff;
          border-color: #425e70;
        }

        &.active {
          background-color: #425e70;
          color: #fff;
          border-color: #425e70;
        }
      }

      &.active {
       a {
        background-color: #425e70;
        color: #fff;
        border-color: #425e70;
       }
      }
    }
  }

  .blog-listing-section {
    padding: 30px 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;

    .search-bar {
      .btn {
        background-color: #425e70;
        border-color:  #425e70;
        color: #fff;
      }
    }


    .row-7 {
      margin: 0 -7px;

      .pad-7 {
        padding: 0 7px;
      }
    }

    &::after {
      content: "";
      background-image: url(../images/patter-3.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      left: -10%;
      top: -10%;
      height: 540px;
      width: 555px;
      z-index: 1;
      opacity: 0.4;
    }

    .blog-listing-inner {
      z-index: 99;
      position: relative;
    }

    .blog-card {
      padding: 20px;
      border: 1px solid rgba(151, 151, 151, 0.44);
      border-radius: 4px;
      margin-bottom: 30px;

      .blog-header {
        .blog-img {
          border-radius: 6px;
          overflow: hidden;
          width: 100%;
          height: 100%;
          display: block;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            overflow: hidden;
            min-height: 350px;
            max-height: 350px;
          }

         
        }
      }

      .blog-body {
        padding: 20px 0 0 0;

        .content {
          a {
            h3 {
              font-size: 24px;
              line-height: 36px;
              letter-spacing: -0.4px;
              margin-bottom: 0;
              font-weight: 500;
              color: #263640;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              display: block;
              display: -webkit-box;
              max-width: 100%;
              margin-bottom: 15px;
              transition: all 0.3s;
            }

            &:hover {
              h3 {
                color: rgba(38, 54, 64,0.90);
                transition: all 0.3s;
              }
            }
          }

          p {
            font-size: 16px;
            line-height: 26px;
            font-weight: 500;
            color: rgba(66, 94, 112, 1);
            -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              display: block;
              display: -webkit-box;
              max-width: 100%;
          }

          .posted-on {
            color: rgba(66, 94, 112, 0.46);
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.footer-section {
  padding: 58px 0 0 0;
  background-color: #425e70;

  .footer-content-link {
    padding: 20px 0 0 0;
  }

  .footer-content {
    margin-bottom: 50px;

    h3 {
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: 16px;
        line-height: 28px;
        display: inline-block;
        width: 100%;
        color: rgba(255, 255, 255, 1);
        
        a {
          display: block;
          color: rgba(255, 255, 255, 1);
          font-size: 16px;
          line-height: 34px;
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          word-break: break-all;
          position: relative;

          &::after {
            content: "";
            height: 2px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            transition: all 0.5s ease-in-out;
            opacity: 0;
          }

          &:hover {
            transition: all 0.5s ease-in-out;
            color: rgba(255, 255, 255, 1);

            &::after {
              width: 22px;
              transition: all 0.5s ease-in-out;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .address-link {
    padding: 20px 0 0 0;
    ul {
      display: block;

      li {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        span {
          width: 40px;
          min-width: 40px;
          position: relative;
          top: 5px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: #f5ffee;
        }

        p {
          display: block;
          color: #f5ffee;
          font-size: 16px;
          line-height: 34px;
          text-decoration: none;
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          position: relative;
        }

        a {
          display: block;
          color: #f5ffee;
          font-size: 16px;
          line-height: 34px;
          text-decoration: none;
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          position: relative;

          &::after {
            display: none;
          }
        }
      }
    }
  }

  .copy-right-text {
    padding: 20px 0 70px 0;
    border-top: 1px solid rgba(120, 154, 193, 0.2);

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.5);
      margin-left: 22px;
    }

    .footer-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 0;
        color: rgba(255, 255, 255, 1);
        margin-left: 22px;
      }

      .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto 10px auto;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            margin-right: 5px;
            width: auto;

            &:last-child {
              margin-right: 0;
            }

            a {
              width: 48px;
              height: 48px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: rgba(255, 255, 255, 0.3);
              background-color: transparent;
              border: 1px solid rgba(180, 180, 180, 0);
              text-decoration: none;
              transition: all 0.5s ease-in-out;
              font-size: 24px;

              &:hover {
                width: 48px;
                height: 48px;
                transition: all 0.5s ease-in-out;
                border: 1px solid rgba(180, 180, 180, 0);
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

button.mfp-close,
button.mfp-arrow {
  box-shadow: none;
  outline: 0;
}

// popop

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(66, 95, 112, 0.5); /* Black with a little bit see-through */
  z-index: 1100;

  .overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 100px 20px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);

    form {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      input[type="text"] {
        padding: 5px 15px;
        font-size: 40px;
        color: rgba(66, 95, 112, 1);
        letter-spacing: 0.64px;
        font-weight: 500;
        border: none;
        float: left;
        background: #fff;
        width: 80%;
        box-shadow: none !important;
        outline: 0 !important;
        border-bottom: 1px solid rgba(66, 95, 112, 0.8);
        border-radius: 0 !important;

        &:focus {
          background: #fff;
          box-shadow: none !important;
          outline: 0 !important;
          border-bottom: 1px solid rgba(66, 95, 112, 1);
        }
      }
    }

    .closebtn {
      padding: 10px 20px;
      cursor: pointer;
      z-index: 999;
      color: rgba(66, 95, 112, 0.8);
      font-size: 40px;
      position: fixed;
      right: 20px;
      top: 20px;

      &:hover {
        color: rgba(66, 95, 112, 1);
      }
    }

    button {
      float: left;
      padding: 10px 20px;
      background: #fff;
      color: rgba(66, 95, 112, 1);
      font-size: 40px;
      border: none;
      outline: 0;
      box-shadow: none;
      font-weight: 300;
      cursor: pointer;

      &:hover {
        background: #fff;
      }
    }
  }
}

@media (max-width: 767px) {
  .overlay {
    .overlay-content {
      padding: 50px 20px;

      form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        input[type="text"] {
          padding: 3px 15px;
          font-size: 16px;
          line-height: 20px;

          &:focus {
            background: white;
          }
        }
      }

      .closebtn {
        padding: 10px 15px;
        font-size: 20px;
        position: fixed;
        right: 0;
        top: 0;
      }

      button {
        float: left;
        padding: 10px 15px;
        font-size: 20px;

        &:hover {
          background: #fff;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .overlay {
    .overlay-content {
      padding: 50px 20px;

      form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        input[type="text"] {
          padding: 5px 15px;
          font-size: 20px;

          &:focus {
            background: white;
          }
        }
      }

      .closebtn {
        padding: 10px 15px;
        font-size: 20px;
        position: fixed;
        right: 0;
        top: 0;
      }

      button {
        float: left;
        padding: 10px 15px;
        font-size: 20px;

        &:hover {
          background: #fff;
        }
      }
    }
  }
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */

@media (max-width: 320px) {
  .btn-pad-60 {
    padding: 12px 30px !important;
  }

  .header .page-title a {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .header {
    .page-title {
      display: none !important;
      position: absolute;
      left: 110px;
      top: -22px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      a {
        color: #fff;
        max-width: 100px;
        display: block;
        white-space: normal;
        line-height: 20px;
      }
    }

    .navbar {
      padding: 15px 0;
      z-index: 999;
      height: 75px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 100px !important;
        height: auto;
        padding: 0;
        position: relative;
        z-index: 9;
        top: 0;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          padding: 0 20px;

          .nav-item {
            padding: 0 20px;
            border-bottom: 1px solid rgba(66, 94, 112, 0.03);
            width: 100%;

            a {
              color: rgb(66, 94, 112);
              padding: 8px 12px;
              font-size: 16px;

              &::after {
                background-color: rgba(66, 94, 112, 1);
                left: 12px;
              }

              &:hover {
                color: rgba(66, 94, 112, 0.8);
              }

              &.active {
                color: rgba(66, 94, 112, 0.8);
              }
            }
          }

          .nav-btn {
            padding-left: 22px !important;

            .btn.btn {
              background-color: #0f2d1f !important;
              color: #fff !important;
            }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        position: absolute;
        right: 15px;
        top: 0;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 40px;
          width: 40px;
          border: 0;
        }
      }
    }
  }

  .user-account {
    padding-right: 60px;

    ul {
      li {
        a {
          padding: 7px 10px;
          font-size: 20px;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(66, 95, 112, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    right: -400px;
  }

  .width-menu {
    // width: 70%;
    right: 0;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  /* middle section start here */

  .middle-section {
    .home-banner-section {
      .banner-div {
        .banner-caption {
          padding-bottom: 150px;

          .content {
            padding-left: 30px;

            &::after {
              top: 0;
              height: 100%;
            }

            h2 {
              font-size: 24px;
              line-height: 30px;
            }

            p {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }

      .information-box {
        .information-content {
          padding: 15px 20px;

          p {
            font-size: 12px;
            line-height: 24px;
            margin-bottom: 0;
          }

          a {
            font-size: 14px;
            line-height: 22px;
          }
        }
      }

      .owl-theme .owl-nav {
        top: unset;
        bottom: 90px;
        flex-direction: row;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        align-items: center;
        justify-content: center;

        button {
          height: 40px;
          width: 40px;
        }
      }
    }

    .service-care-section {
      padding: 60px 0;

      &::before {
        width: 200px;
        height: 205px;
        background-size: cover;
      }

      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
      }

      .service-row {
        .service-item {
          max-width: unset;
          min-width: unset;
        }
      }
    }

    .latest-news-section {
      padding: 60px 0;
    
      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        bottom: 10%;
      }

      .owl-nav {
        display: none !important;
      }
    }

    .virtual-tour-section {
      padding: 60px 0;

      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        top: -6%;
      }

    }

    .inspection-section {
      padding: 60px 0;

      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        bottom: -6%;
      }

      .inspection-div {
        .tab-header {
          .nav-tabs {
            li {
              a {
                font-size: 16px;
                line-height: 24px;
                padding: 6px 12px;
              }
            }
          }
        }

        .tab-body .tab-detail ul li {
          font-size: 16px;
          line-height: 26px;
          letter-spacing: -0.4px;
          padding: 10px 10px 10px 60px;

          &::before {
            height: 15px;
            width: 18px;
            left: 20px;
          }
        }
      }

      .quality {
        margin: 20px 0 0 0;
      }
    }

    .join-ourteam-section {
      padding: 80px 0 60px 0;
      background-position: center;
      background-size: cover;
      overflow: hidden;

      .content {
        text-align: center;
        padding: 20px 30px;

        h2 {
          font-size: 24px;
          line-height: 36px;
        }

        .btn.btn-primary {
          font-weight: 400;
          line-height: 20px;
        }
      }
    }

    .testimonials-section {
      padding: 60px 0;

      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        bottom: -6%;
        right: -15%;
      }

      &::before {
        width: 200px;
        height: 205px;
        background-size: cover;
        bottom: -6%;
        left: -15%;
      }

      .testimonial-slide {
        .testimonial-content {
          padding: 20px 0;

          .content {
            margin-bottom: 30px;

            p {
              font-size: 16px;
              line-height: 24px;
            }
          }

          .author {
            h4 {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
    }
    
    .blog-detail-section {
      padding-top: 80px;

      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        top: -10%;
        right: 0;
      }

      .blog-detail-box { 
        position: relative;
        padding: 40px 20px;
        top: -125px;
     

        .content {

          h3 {
            font-size: 24px;
            line-height: 40px;
          }

          
          p {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }

    // inner banner

    .inner-banner-section {
      .banner-div {
        .banner-image {
          img {
            height: 350px;
            min-height: 350px;
          }
        }

        .banner-caption {
          padding-bottom: 60px;
          
          .content {
            h2 {
              font-size: 28px;
              line-height: 40px;

              &::after {
                bottom: -6px;
              }
            }
          }
        }
      }
    }

    .ourcare-description-section {
      padding: 60px 0;

      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        top: -6%;
        left: -15%;
      }

      .content {
        h3 {
          font-size: 24px;
          line-height: 40px;
        }
      }
    }

    .page-block-section {
      padding: 60px 0;

      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        bottom: -6%;
        left: -10%;
      }

      .row-mb-120 {
        margin-bottom: 30px;
      }

      .right-row {
        display: flex;
        flex-direction: column-reverse;
      }

      .block-media {
        margin-bottom: 40px;
      }

      .block-contnet {
        .content {
          position: relative;
          background-color: #f9f9f9;
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          padding: 30px 10px;

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
          }

          &::after {
            display: none;
          }
        }
      }
    }

    .fees-section {
      padding: 60px 0;

      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        top: -10%;
        left: -10%;
      }

      .content {
        p {
          font-size: 18px;
          line-height: 26px;
          color: #425e70;
        }
      }
    }

    .description-section {
      padding: 60px 0;


      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        top: -10%;
        left: -10%;
      }

      &::before {
        width: 200px;
        height: 205px;
        background-size: cover;
        bottom: -10%;
        right: -10%;
      }

      .content {
        h3 {
          font-size: 24px;
          line-height: 40px;
        }

        p {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .staff-section {
      padding: 60px 0;

      .staff-box {
        .staff-img {
          img {
            width: 100%;
            max-height: 300px;
            min-height: 300px;
          }
        }
      }
    }

    .contactus-section {
      padding: 60px 0;

      
      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        top: -10%;
        left: -10%;
      }

      .row-8 {
        margin: 0 -8px;

        .pad-8 {
          padding: 0 8px;
        }
      }

      .form-group {
        margin-bottom: 18px;

        .has-float-label {
          width: 100%;
          margin-bottom: 0;
        }

        label {
          font-size: 16px;
          color: #181818;
          letter-spacing: 0;
          font-weight: 400;
          margin-bottom: 10px;
        }

        .form-control {
          height: 60px;
          font-size: 18px;
          line-height: 22px;
        }

        span.text {
          display: block;
          width: 100%;
          margin: 5px 15px;
          color: #ccc;
        }

        textarea {
          min-height: 200px;
          padding-top: 20px !important;
        }
      }

      .note {
        h3 {
          color: #263640;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: -0.2px;
        }

        p {
          color: rgba(38, 54, 64, 0.5);
          font-size: 18px;
          line-height: 24px;
          letter-spacing: -0.2px;
        }
      }

      .div-btn {
        .btn {
          height: 60px !important;
          padding: 20px 40px;
          background-color: #425e70 !important;
          color: #fff !important;
          border: #425e70 !important;
          width: 100%;
          font-size: 18px;
          line-height: 24px;
          font-weight: 600;
        }
      }

      .custom-checkbox {
        .custom-control-label {
          font-size: 18px;
          line-height: 40px;
          font-weight: 500;
          letter-spacing: -0.2px;

          &::before {
            height: 26px;
            width: 26px;
            border-radius: 2px;
            border: 1px solid rgba(0, 0, 0, 0.25);
          }

          &::after {
            top: 7px;
            left: -30px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 26px;
            width: 26px;
          }
        }
        .custom-control-input:checked ~ .custom-control-label::before {
          background-color: #263640 !important;
          border-color: rgb(38, 54, 64) !important;
        }

        .custom-control-input:focus ~ .custom-control-label::before {
          box-shadow: 0 3px 15px 0 rgba(38, 54, 64, 0.4);
        }

        .custom-control-input:checked ~ .custom-control-label::after {
        }
      }

      .heading {
        @include heading();
      }
    }

    .covid-section {
      padding: 60px 0;
      position: relative;
      
      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        top: 0%;
        left: -10%;
      }

      .covid-detail {
        .block-media {
          margin-bottom: 40px;
        }
        .block-contnet {
          .content {
            position: relative;
            background-color: #f9f9f9;
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
            padding: 30px 10px;

            p {
              font-weight: 400;
              font-size: 18px;
              line-height: 28px;
            }

            &::after {
              display: none;
            }
          }
        }
      }
    }

    .join-team-section {
      padding: 60px 0;

      
      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        bottom: -0%;
        left: -8%;
      }

      .heading {
        h3 {
          font-size: 24px;
          line-height: 34px;
          color: #425e70;
        }
      }
    }

    .send-cv-section {
      padding: 60px 0;

      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        top: -0%;
        left: -8%;
      }

      .send-cv-section {
        position: relative;
        z-index: 99;
      }

      .content {
        h3 {
          font-size: 24px;
          line-height: 36px;
        }

        ul {
          padding: 20px 20px;

          li {
            font-size: 18px;
            line-height: 24px;
            color: rgba(66, 95, 112, 0.7);
            letter-spacing: -0.2px;
            margin-bottom: 20px;
            list-style: disc;
          }
        }
      }
    }

    .day-life-section {
      padding: 60px 0;


      &::after {
        width: 200px;
        height: 205px;
        background-size: cover;
        top: -0%;
        left: -8%;
      }


      .content {
        h3 {
          font-size: 24px;
          line-height: 34px;
          color: rgba(66, 95, 112, 1);
          letter-spacing: -0.2px;
          margin-bottom: 20px;
        }

        ul {
          li {
            font-size: 18px;
            line-height: 24px;
            color: rgba(66, 95, 112, 1);
            letter-spacing: -0.2px;
            margin-bottom: 20px;
            list-style: disc;
          }
        }

        p {
          font-size: 18px;
          line-height: 24px;
          color: rgba(66, 95, 112, 1);
          letter-spacing: -0.2px;
        }
      }

      .gallery-box {
        margin-bottom: 20px;

        .gallery-img {
          position: relative;
          overflow: hidden;

          img {
            width: 100%;
            min-height: 241px;
            max-height: 241px;
            object-fit: cover;
            height: 100%;
            overflow: hidden;
          }
        }
      }
    }

    .tour-section {
      padding: 60px 0;

      .tour-box .tour-body h3 {
        font-size: 20px;
        line-height: 22px;
      }

    }

    .blog-listing-section {
      .blog-card {
        padding: 15px;
        margin-bottom: 15px;
        
        .blog-header {
          .blog-img {
            img {
              min-height: 250px;
              max-height: 250px;
            }
          }
        }
  
        .blog-body {
          padding: 20px 0 0 0;
  
          .content {
            a {
              h3 {
                font-size: 20px;
                line-height: 30px;
              }
            }
  
            p {
              font-size: 16px;
              line-height: 26px;
            }
  
            .posted-on {
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
      }
    }

    .gallery-section {
      padding: 30px 0;
    }

   
  }

  .footer-section {
    padding-top: 40px;

    .social-media {
      margin-bottom: 55px;
    }

    .footer-content ul {
      margin-bottom: 0;

      li {
        width: 49%;
        margin-bottom: 5px;

        a {
          font-size: 14px;
          line-height: 30px;
        }
      }
    }

    .address-link ul {
      margin-top: 20px;

      li {
        width: 100%;
        font-size: 14px;
        line-height: 26px;
      }
    }

    .footer-content-link {
      padding: 20px 0 0 0;
    }

    .footer-content {
      margin-bottom: 0;
    }

    .copy-right-text {
      padding-bottom: 40px;

      .footer-links-bottom {
        text-align: center;
      }
    }
  }

  //  modal
}

@media (min-width: 1024px) and (max-width: 1130px) {
  // no css

  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 16px;
    padding: 8px 10px;
    white-space: nowrap;
  }

  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn {
    padding-left: 30px !important;

    .btn.btn {
      background-color: #0f2d1f !important;
      color: #fff !important;
    }

    a.btn {
      padding: 8px 20px !important;
    }
  }
}

/* Portrait */

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    .navbar {
      padding: 8px 0;
      z-index: 999;
      height: 70px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 155px;
        height: auto;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          flex-direction: column !important;
          margin-left: 0 !important;
          width: 100%;
          padding: 0 20px;

          .nav-item {
            padding: 0 20px;
            border-bottom: 1px solid rgba(66, 94, 112, 0.03);
            width: 100%;

            a {
              color: rgba(66, 94, 112, 1);
              padding: 8px 12px;
              font-weight: 600;
              font-size: 16px;
              white-space: nowrap;

              &::after {
                background-color: rgba(66, 94, 112, 1);
                left: 12px;
              }

              &:hover {
                color: rgba(66, 94, 112, 0.8);
              }

              &.active {
                color: rgba(66, 94, 112, 0.8);
              }
            }
          }

          .nav-btn {
            padding-left: 22px !important;

            .btn.btn {
              background-color: #0f2d1f !important;
              color: #fff !important;
            }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        position: absolute;
        right: 15px;
        top: 0;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 40px;
          width: 40px;
          border: 0;
        }
      }
    }
  }

  .header .fixed-top.navbar .navbar-brand {
    position: unset;
    width: 100px;
  }

  .user-account {
    padding-right: 60px;

    ul {
      li {
        a {
          padding: 7px 15px;
          font-size: 22px;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(66, 95, 112, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    right: -400px;
  }

  .width-menu {
    // width: 35%;
    right: 0;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  .middle-section {
    .home-banner-section {
      .banner-div {
        .banner-caption {
          padding-bottom: 200px;

          .content {
            h2 {
              font-size: 50px;
              line-height: 60px;
            }
          }
        }
      }
    }

    .join-ourteam-section {
      overflow: hidden;

      .content {
        h2 {
          line-height: 50px;
        }
      }
    }

    .inner-banner-section {
      .banner-div {
        .banner-image {
          img {
            height: 350px;
            min-height: 350px;
          }
        }

        .banner-caption {
          .content {
            h2 {
              font-size: 30px;
              line-height: 42px;

              &::after {
                bottom: -6px;
              }
            }
          }
        }
      }
    }

    .page-block-section {
      overflow: hidden;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  // middle section

  .middle-section {
    .service-care-section {
      padding: 100px 0;

      .service-row {
        .service-item {
          max-width: 232px;
          min-width: 232px;
        }
      }
    }

    .latest-news-section {
      padding: 100px 0;

      .blog-slider {
        margin: 0 80px;
      }
    }

    .inspection-section {
      padding: 100px 0;

      .inspection-div {
        .tab-header {
          .nav-tabs {
            li {
              a {
                padding: 10px 40px;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }

    .ourcare-description-section {
      padding: 80px 0;

      .content {
        h3 {
          font-size: 28px;
          line-height: 40px;
        }
      }
    }

    .page-block-section {
      padding: 80px 0;

      .row-mb-120 {
        margin-bottom: 30px;
      }

      .right-row {
        display: flex;
        flex-direction: column-reverse;
      }

      .block-media {
        margin-bottom: 40px;
      }

      .block-contnet {
        .content {
          position: relative;
          background-color: #f9f9f9;
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          padding: 30px 20px;

          p {
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
          }

          &::after {
            display: none;
          }
        }
      }
    }

    .fees-section {
      padding: 80px 0;
      
      .content {
        p {
          font-size: 20px;
          line-height: 30px;
          color: #425e70;
        }
      }
    }

    .description-section {
      padding: 80px 0;

      .content {
        h3 {
          font-size: 28px;
          line-height: 40px;
        }

        p {
          font-size: 22px;
          line-height: 30px;
        }
      }
    }

    .staff-section {
      padding: 80px 0;

      .staff-box {
        .staff-img {
          img {
            width: 100%;
            max-height: 300px;
            min-height: 300px;
          }
        }
      }
    }
  }

  .footer-section {
    .footer-content ul li {
      width: 100%;
    }

    .social-media {
      margin-top: 30px;
    }
  }
}

/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    .navbar {
      .collapse1 {
        .navbar-nav {
          .nav-item {
            a {
              font-size: 16px;
              font-weight: 500;
              line-height: 22px;
              padding: 8px 15px;
            }
          }

          .nav-item.nav-btn {
            padding-left: 10px !important;
          }
        }
      }
    }
  }

  .footer-section {
    .social-media {
      margin-top: 30px;
    }
  }

  .middle-section {
    .staff-section {
      padding: 120px 0;

      .staff-box {
        .staff-img {
          img {
            width: 100%;
            max-height: 300px;
            min-height: 300px;
          }
        }
      }
    }
  }
}

/* ----------- iPad Pro ----------- */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .middle-section .home-banner-section .banner-box {
    margin: 0 0 130px 0;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}
